In [1]:
import numpy as np
import pandas as pd

In [2]:
df_can = pd.read_excel(
    'https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-DV0101EN-SkillsNetwork/Data%20Files/Canada.xlsx',
    sheet_name='Canada by Citizenship',
    skiprows=range(20),
    skipfooter=2)

print('Data read into a pandas dataframe!')

Data read into a pandas dataframe!

In [3]:
df_can

,Type,Coverage,OdName,AREA,AreaName,REG,RegName,DEV,DevName,1980,...,2012,2013,Unnamed: 43,Unnamed: 44,Unnamed: 45,Unnamed: 46,Unnamed: 47,Unnamed: 48,Unnamed: 49,Unnamed: 50
0,Immigrants,Foreigners,Afghanistan,935,Asia,5501,Southern Asia,902,Developing regions,16,...,2635,2004,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Immigrants,Foreigners,Albania,908,Europe,925,Southern Europe,901,Developed regions,1,...,620,603,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,Immigrants,Foreigners,Algeria,903,Africa,912,Northern Africa,902,Developing regions,80,...,3774,4331,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,Immigrants,Foreigners,American Samoa,909,Oceania,957,Polynesia,902,Developing regions,0,...,0,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,Immigrants,Foreigners,Andorra,908,Europe,925,Southern Europe,901,Developed regions,0,...,1,1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
190,Immigrants,Foreigners,Viet Nam,935,Asia,920,South-Eastern Asia,902,Developing regions,1191,...,1731,2112,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
191,Immigrants,Foreigners,Western Sahara,903,Africa,912,Northern Africa,902,Developing regions,0,...,0,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
192,Immigrants,Foreigners,Yemen,935,Asia,922,Western Asia,902,Developing regions,1,...,174,217,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
193,Immigrants,Foreigners,Zambia,903,Africa,910,Eastern Africa,902,Developing regions,11,...,46,59,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
194,Immigrants,Foreigners,Zimbabwe,903,Africa,910,Eastern Africa,902,Developing regions,72,...,437,407,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [4]:
df_can.head()

,Type,Coverage,OdName,AREA,AreaName,REG,RegName,DEV,DevName,1980,...,2012,2013,Unnamed: 43,Unnamed: 44,Unnamed: 45,Unnamed: 46,Unnamed: 47,Unnamed: 48,Unnamed: 49,Unnamed: 50
0,Immigrants,Foreigners,Afghanistan,935,Asia,5501,Southern Asia,902,Developing regions,16,...,2635,2004,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Immigrants,Foreigners,Albania,908,Europe,925,Southern Europe,901,Developed regions,1,...,620,603,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,Immigrants,Foreigners,Algeria,903,Africa,912,Northern Africa,902,Developing regions,80,...,3774,4331,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,Immigrants,Foreigners,American Samoa,909,Oceania,957,Polynesia,902,Developing regions,0,...,0,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,Immigrants,Foreigners,Andorra,908,Europe,925,Southern Europe,901,Developed regions,0,...,1,1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [5]:
df_can.tail()

,Type,Coverage,OdName,AREA,AreaName,REG,RegName,DEV,DevName,1980,...,2012,2013,Unnamed: 43,Unnamed: 44,Unnamed: 45,Unnamed: 46,Unnamed: 47,Unnamed: 48,Unnamed: 49,Unnamed: 50
190,Immigrants,Foreigners,Viet Nam,935,Asia,920,South-Eastern Asia,902,Developing regions,1191,...,1731,2112,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
191,Immigrants,Foreigners,Western Sahara,903,Africa,912,Northern Africa,902,Developing regions,0,...,0,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
192,Immigrants,Foreigners,Yemen,935,Asia,922,Western Asia,902,Developing regions,1,...,174,217,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
193,Immigrants,Foreigners,Zambia,903,Africa,910,Eastern Africa,902,Developing regions,11,...,46,59,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
194,Immigrants,Foreigners,Zimbabwe,903,Africa,910,Eastern Africa,902,Developing regions,72,...,437,407,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [6]:
df_can.info(verbose = False)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 195 entries, 0 to 194
Columns: 51 entries, Type to Unnamed: 50
dtypes: float64(8), int64(37), object(6)
memory usage: 77.8+ KB

In [7]:
df_can.columns

Index([       'Type',    'Coverage',      'OdName',        'AREA',
          'AreaName',         'REG',     'RegName',         'DEV',
           'DevName',          1980,          1981,          1982,
                1983,          1984,          1985,          1986,
                1987,          1988,          1989,          1990,
                1991,          1992,          1993,          1994,
                1995,          1996,          1997,          1998,
                1999,          2000,          2001,          2002,
                2003,          2004,          2005,          2006,
                2007,          2008,          2009,          2010,
                2011,          2012,          2013, 'Unnamed: 43',
       'Unnamed: 44', 'Unnamed: 45', 'Unnamed: 46', 'Unnamed: 47',
       'Unnamed: 48', 'Unnamed: 49', 'Unnamed: 50'],
      dtype='object')

In [8]:
df_can.index

RangeIndex(start=0, stop=195, step=1)

In [9]:
print(type(df_can.columns))
print(type(df_can.index))

<class 'pandas.core.indexes.base.Index'>
<class 'pandas.core.indexes.range.RangeIndex'>

In [10]:
df_can.columns.tolist()

['Type',
 'Coverage',
 'OdName',
 'AREA',
 'AreaName',
 'REG',
 'RegName',
 'DEV',
 'DevName',
 1980,
 1981,
 1982,
 1983,
 1984,
 1985,
 1986,
 1987,
 1988,
 1989,
 1990,
 1991,
 1992,
 1993,
 1994,
 1995,
 1996,
 1997,
 1998,
 1999,
 2000,
 2001,
 2002,
 2003,
 2004,
 2005,
 2006,
 2007,
 2008,
 2009,
 2010,
 2011,
 2012,
 2013,
 'Unnamed: 43',
 'Unnamed: 44',
 'Unnamed: 45',
 'Unnamed: 46',
 'Unnamed: 47',
 'Unnamed: 48',
 'Unnamed: 49',
 'Unnamed: 50']

In [11]:
df_can.index.tolist()

[0,
 1,
 2,
 3,
 4,
 5,
 6,
 7,
 8,
 9,
 10,
 11,
 12,
 13,
 14,
 15,
 16,
 17,
 18,
 19,
 20,
 21,
 22,
 23,
 24,
 25,
 26,
 27,
 28,
 29,
 30,
 31,
 32,
 33,
 34,
 35,
 36,
 37,
 38,
 39,
 40,
 41,
 42,
 43,
 44,
 45,
 46,
 47,
 48,
 49,
 50,
 51,
 52,
 53,
 54,
 55,
 56,
 57,
 58,
 59,
 60,
 61,
 62,
 63,
 64,
 65,
 66,
 67,
 68,
 69,
 70,
 71,
 72,
 73,
 74,
 75,
 76,
 77,
 78,
 79,
 80,
 81,
 82,
 83,
 84,
 85,
 86,
 87,
 88,
 89,
 90,
 91,
 92,
 93,
 94,
 95,
 96,
 97,
 98,
 99,
 100,
 101,
 102,
 103,
 104,
 105,
 106,
 107,
 108,
 109,
 110,
 111,
 112,
 113,
 114,
 115,
 116,
 117,
 118,
 119,
 120,
 121,
 122,
 123,
 124,
 125,
 126,
 127,
 128,
 129,
 130,
 131,
 132,
 133,
 134,
 135,
 136,
 137,
 138,
 139,
 140,
 141,
 142,
 143,
 144,
 145,
 146,
 147,
 148,
 149,
 150,
 151,
 152,
 153,
 154,
 155,
 156,
 157,
 158,
 159,
 160,
 161,
 162,
 163,
 164,
 165,
 166,
 167,
 168,
 169,
 170,
 171,
 172,
 173,
 174,
 175,
 176,
 177,
 178,
 179,
 180,
 181,
 182,
 183,
 184,
 185,
 186,
 187,
 188,
 189,
 190,
 191,
 192,
 193,
 194]

In [12]:
print(type(df_can.columns.tolist()))
print(type(df_can.index.tolist()))

<class 'list'>
<class 'list'>

In [13]:
df_can.shape

(195, 51)

In [14]:
df_can.drop(['AREA','REG','DEV','Type','Coverage'], axis=1, inplace=True)
df_can.head(2)

,OdName,AreaName,RegName,DevName,1980,1981,1982,1983,1984,1985,...,2012,2013,Unnamed: 43,Unnamed: 44,Unnamed: 45,Unnamed: 46,Unnamed: 47,Unnamed: 48,Unnamed: 49,Unnamed: 50
0,Afghanistan,Asia,Southern Asia,Developing regions,16,39,39,47,71,340,...,2635,2004,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Albania,Europe,Southern Europe,Developed regions,1,0,0,0,0,0,...,620,603,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [15]:
df_can.rename(columns={'OdName':'Country', 'AreaName':'Continent', 'RegName':'Region'}, inplace=True)
df_can.columns

Index([    'Country',   'Continent',      'Region',     'DevName',
                1980,          1981,          1982,          1983,
                1984,          1985,          1986,          1987,
                1988,          1989,          1990,          1991,
                1992,          1993,          1994,          1995,
                1996,          1997,          1998,          1999,
                2000,          2001,          2002,          2003,
                2004,          2005,          2006,          2007,
                2008,          2009,          2010,          2011,
                2012,          2013, 'Unnamed: 43', 'Unnamed: 44',
       'Unnamed: 45', 'Unnamed: 46', 'Unnamed: 47', 'Unnamed: 48',
       'Unnamed: 49', 'Unnamed: 50'],
      dtype='object')

In [16]:
df_can['Total'] = df_can.sum(axis=1)

In [17]:
df_can.isnull().sum()

Country          0
Continent        0
Region           0
DevName          0
1980             0
1981             0
1982             0
1983             0
1984             0
1985             0
1986             0
1987             0
1988             0
1989             0
1990             0
1991             0
1992             0
1993             0
1994             0
1995             0
1996             0
1997             0
1998             0
1999             0
2000             0
2001             0
2002             0
2003             0
2004             0
2005             0
2006             0
2007             0
2008             0
2009             0
2010             0
2011             0
2012             0
2013             0
Unnamed: 43    195
Unnamed: 44    195
Unnamed: 45    195
Unnamed: 46    195
Unnamed: 47    195
Unnamed: 48    195
Unnamed: 49    195
Unnamed: 50    195
Total            0
dtype: int64

In [18]:
df_can.describe()

,1980,1981,1982,1983,1984,1985,1986,1987,1988,1989,...,2013,Unnamed: 43,Unnamed: 44,Unnamed: 45,Unnamed: 46,Unnamed: 47,Unnamed: 48,Unnamed: 49,Unnamed: 50,Total
count,195.000000,195.000000,195.000000,195.000000,195.000000,195.000000,195.000000,195.000000,195.000000,195.000000,...,195.000000,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,195.000000
mean,508.394872,566.989744,534.723077,387.435897,376.497436,358.861538,441.271795,691.133333,714.389744,843.241026,...,1320.702564,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,32867.451282
std,1949.588546,2152.643752,1866.997511,1204.333597,1198.246371,1079.309600,1225.576630,2109.205607,2443.606788,2555.048874,...,4237.951988,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,91785.498686
min,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.000000
25%,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.500000,0.500000,1.000000,1.000000,...,45.000000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,952.000000
50%,13.000000,10.000000,11.000000,12.000000,13.000000,17.000000,18.000000,26.000000,34.000000,44.000000,...,213.000000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,5018.000000
75%,251.500000,295.500000,275.000000,173.000000,181.000000,197.000000,254.000000,434.000000,409.000000,508.500000,...,796.000000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,22239.500000
max,22045.000000,24796.000000,20620.000000,10015.000000,10170.000000,9564.000000,9470.000000,21337.000000,27359.000000,23795.000000,...,34129.000000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,691904.000000

In [19]:
df_can.Country

0         Afghanistan
1             Albania
2             Algeria
3      American Samoa
4             Andorra
            ...
190          Viet Nam
191    Western Sahara
192             Yemen
193            Zambia
194          Zimbabwe
Name: Country, Length: 195, dtype: object

In [20]:
df_can[['Country', 1980, 1981, 1982, 1983, 1984, 1985]]

            Country  1980  1981  1982  1983  1984  1985
0       Afghanistan    16    39    39    47    71   340
1           Albania     1     0     0     0     0     0
2           Algeria    80    67    71    69    63    44
3    American Samoa     0     1     0     0     0     0
4           Andorra     0     0     0     0     0     0
..              ...   ...   ...   ...   ...   ...   ...
190        Viet Nam  1191  1829  2162  3404  7583  5907
191  Western Sahara     0     0     0     0     0     0
192           Yemen     1     2     1     6     0    18
193          Zambia    11    17    11     7    16     9
194        Zimbabwe    72   114   102    44    32    29

[195 rows x 7 columns]

In [21]:
df_can.set_index('Country', inplace=True)

In [22]:
df_can.head(3)

,Continent,Region,DevName,1980,1981,1982,1983,1984,1985,1986,...,2013,Unnamed: 43,Unnamed: 44,Unnamed: 45,Unnamed: 46,Unnamed: 47,Unnamed: 48,Unnamed: 49,Unnamed: 50,Total
Country,,,,,,,,,,,,,,,,,,,,,
Afghanistan,Asia,Southern Asia,Developing regions,16,39,39,47,71,340,496,...,2004,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,58639.0
Albania,Europe,Southern Europe,Developed regions,1,0,0,0,0,0,1,...,603,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,15699.0
Algeria,Africa,Northern Africa,Developing regions,80,67,71,69,63,44,69,...,4331,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,69439.0

In [23]:
df_can.index.name = None

In [24]:
df_can.loc['Japan']

Continent                   Asia
Region              Eastern Asia
DevName        Developed regions
1980                         701
1981                         756
1982                         598
1983                         309
1984                         246
1985                         198
1986                         248
1987                         422
1988                         324
1989                         494
1990                         379
1991                         506
1992                         605
1993                         907
1994                         956
1995                         826
1996                         994
1997                         924
1998                         897
1999                        1083
2000                        1010
2001                        1092
2002                         806
2003                         817
2004                         973
2005                        1067
2006                        1212
2007                        1250
2008                        1284
2009                        1194
2010                        1168
2011                        1265
2012                        1214
2013                         982
Unnamed: 43                  NaN
Unnamed: 44                  NaN
Unnamed: 45                  NaN
Unnamed: 46                  NaN
Unnamed: 47                  NaN
Unnamed: 48                  NaN
Unnamed: 49                  NaN
Unnamed: 50                  NaN
Total                    27707.0
Name: Japan, dtype: object

In [25]:
df_can.iloc[87,36]

982

In [26]:
df_can.loc['Japan', [1980, 1981, 1982, 1983, 1984, 1984]]

1980    701
1981    756
1982    598
1983    309
1984    246
1984    246
Name: Japan, dtype: object

In [27]:
df_can.iloc[87, [3, 4, 5, 6, 7, 8]]

1980    701
1981    756
1982    598
1983    309
1984    246
1985    198
Name: Japan, dtype: object

In [28]:
import matplotlib as mpl
import matplotlib.pyplot as plt

In [29]:
print('Matplotlib version: ', mpl.__version__)  # >= 2.0.0

Matplotlib version:  3.3.4

In [30]:
print(plt.style.available)

['Solarize_Light2', '_classic_test_patch', 'bmh', 'classic', 'dark_background', 'fast', 'fivethirtyeight', 'ggplot', 'grayscale', 'seaborn', 'seaborn-bright', 'seaborn-colorblind', 'seaborn-dark', 'seaborn-dark-palette', 'seaborn-darkgrid', 'seaborn-deep', 'seaborn-muted', 'seaborn-notebook', 'seaborn-paper', 'seaborn-pastel', 'seaborn-poster', 'seaborn-talk', 'seaborn-ticks', 'seaborn-white', 'seaborn-whitegrid', 'tableau-colorblind10']

In [34]:
years = list(map(str, range(1980, 2014)))
years

['1980',
 '1981',
 '1982',
 '1983',
 '1984',
 '1985',
 '1986',
 '1987',
 '1988',
 '1989',
 '1990',
 '1991',
 '1992',
 '1993',
 '1994',
 '1995',
 '1996',
 '1997',
 '1998',
 '1999',
 '2000',
 '2001',
 '2002',
 '2003',
 '2004',
 '2005',
 '2006',
 '2007',
 '2008',
 '2009',
 '2010',
 '2011',
 '2012',
 '2013']

In [35]:
condition = df_can['Continent'] == 'Asia'
print(condition)

Afghanistan        True
Albania           False
Algeria           False
American Samoa    False
Andorra           False
                  ...
Viet Nam           True
Western Sahara    False
Yemen              True
Zambia            False
Zimbabwe          False
Name: Continent, Length: 195, dtype: bool

In [36]:
df_can[condition]

,Continent,Region,DevName,1980,1981,1982,1983,1984,1985,1986,...,2013,Unnamed: 43,Unnamed: 44,Unnamed: 45,Unnamed: 46,Unnamed: 47,Unnamed: 48,Unnamed: 49,Unnamed: 50,Total
Afghanistan,Asia,Southern Asia,Developing regions,16,39,39,47,71,340,496,...,2004,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,58639.0
Armenia,Asia,Western Asia,Developing regions,0,0,0,0,0,0,0,...,207,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,3310.0
Azerbaijan,Asia,Western Asia,Developing regions,0,0,0,0,0,0,0,...,57,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2649.0
Bahrain,Asia,Western Asia,Developing regions,0,2,1,1,1,3,0,...,32,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,475.0
Bangladesh,Asia,Southern Asia,Developing regions,83,84,86,81,98,92,486,...,3789,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,65568.0
Bhutan,Asia,Southern Asia,Developing regions,0,0,0,0,1,0,0,...,487,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,5876.0
Brunei Darussalam,Asia,South-Eastern Asia,Developing regions,79,6,8,2,2,4,12,...,6,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,600.0
Cambodia,Asia,South-Eastern Asia,Developing regions,12,19,26,33,10,7,8,...,288,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,6538.0
China,Asia,Eastern Asia,Developing regions,5123,6682,3308,1863,1527,1816,1960,...,34129,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,659962.0
"China, Hong Kong Special Administrative Region",Asia,Eastern Asia,Developing regions,0,0,0,0,0,0,0,...,774,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,9327.0
"China, Macao Special Administrative Region",Asia,Eastern Asia,Developing regions,0,0,0,0,0,0,0,...,29,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,284.0
Cyprus,Asia,Western Asia,Developing regions,132,128,84,46,46,43,48,...,16,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1126.0
Democratic People's Republic of Korea,Asia,Eastern Asia,Developing regions,1,1,3,1,4,3,0,...,17,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,388.0
Georgia,Asia,Western Asia,Developing regions,0,0,0,0,0,0,0,...,125,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2068.0
India,Asia,Southern Asia,Developing regions,8880,8670,8147,7338,5704,4211,7150,...,33087,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,691904.0
Indonesia,Asia,South-Eastern Asia,Developing regions,186,178,252,115,123,100,127,...,387,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,13150.0
Iran (Islamic Republic of),Asia,Southern Asia,Developing regions,1172,1429,1822,1592,1977,1648,1794,...,11291,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,175923.0
Iraq,Asia,Western Asia,Developing regions,262,245,260,380,428,231,265,...,4918,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,69789.0
Israel,Asia,Western Asia,Developing regions,1403,1711,1334,541,446,680,1212,...,1945,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,66508.0
Japan,Asia,Eastern Asia,Developed regions,701,756,598,309,246,198,248,...,982,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,27707.0
Jordan,Asia,Western Asia,Developing regions,177,160,155,113,102,179,181,...,1255,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,35406.0
Kazakhstan,Asia,Central Asia,Developing regions,0,0,0,0,0,0,0,...,348,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,8490.0
Kuwait,Asia,Western Asia,Developing regions,1,0,8,2,1,4,4,...,48,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2025.0
Kyrgyzstan,Asia,Central Asia,Developing regions,0,0,0,0,0,0,0,...,123,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2353.0
Lao People's Democratic Republic,Asia,South-Eastern Asia,Developing regions,11,6,16,16,7,17,21,...,15,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1089.0
Lebanon,Asia,Western Asia,Developing regions,1409,1119,1159,789,1253,1683,2576,...,2172,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,115359.0
Malaysia,Asia,South-Eastern Asia,Developing regions,786,816,813,448,384,374,425,...,204,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,24417.0
Maldives,Asia,Southern Asia,Developing regions,0,0,0,1,0,0,0,...,1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,30.0
Mongolia,Asia,Eastern Asia,Developing regions,0,0,0,0,0,0,0,...,99,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,952.0
Myanmar,Asia,South-Eastern Asia,Developing regions,80,62,46,31,41,23,18,...,262,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,9245.0
Nepal,Asia,Southern Asia,Developing regions,1,1,6,1,2,4,13,...,1308,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,10222.0
Oman,Asia,Western Asia,Developing regions,0,0,0,8,0,0,0,...,11,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,224.0
Pakistan,Asia,Southern Asia,Developing regions,978,972,1201,900,668,514,691,...,12603,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,241600.0
Philippines,Asia,South-Eastern Asia,Developing regions,6051,5921,5249,4562,3801,3150,4166,...,29544,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,511391.0
Qatar,Asia,Western Asia,Developing regions,0,0,0,0,0,0,1,...,6,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,157.0
Republic of Korea,Asia,Eastern Asia,Developing regions,1011,1456,1572,1081,847,962,1208,...,4509,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,142581.0
Saudi Arabia,Asia,Western Asia,Developing regions,0,0,1,4,1,2,5,...,267,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,3425.0
Singapore,Asia,South-Eastern Asia,Developing regions,241,301,337,169,128,139,205,...,141,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,14579.0
Sri Lanka,Asia,Southern Asia,Developing regions,185,371,290,197,1086,845,1838,...,2394,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,148358.0
State of Palestine,Asia,Western Asia,Developing regions,0,0,0,0,0,0,0,...,462,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,6512.0
Syrian Arab Republic,Asia,Western Asia,Developing regions,315,419,409,269,264,385,493,...,1009,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,31485.0
Tajikistan,Asia,Central Asia,Developing regions,0,0,0,0,0,0,0,...,39,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,503.0
Thailand,Asia,South-Eastern Asia,Developing regions,56,53,113,65,82,66,78,...,400,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,9174.0
Turkey,Asia,Western Asia,Developing regions,481,874,706,280,338,202,257,...,729,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,31781.0
Turkmenistan,Asia,Central Asia,Developing regions,0,0,0,0,0,0,0,...,14,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,310.0
United Arab Emirates,Asia,Western Asia,Developing regions,0,2,2,1,2,0,5,...,46,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,836.0
Uzbekistan,Asia,Central Asia,Developing regions,0,0,0,0,0,0,0,...,167,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,3368.0
Viet Nam,Asia,South-Eastern Asia,Developing regions,1191,1829,2162,3404,7583,5907,2741,...,2112,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,97146.0
Yemen,Asia,Western Asia,Developing regions,1,2,1,6,0,18,7,...,217,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2985.0

In [37]:
# we can pass multiple criteria in the same line.
# let's filter for AreaNAme = Asia and RegName = Southern Asia

df_can[(df_can['Continent']=='Asia') & (df_can['Region']=='Southern Asia')]

# note: When using 'and' and 'or' operators, pandas requires we use '&' and '|' instead of 'and' and 'or'
# don't forget to enclose the two conditions in parentheses

,Continent,Region,DevName,1980,1981,1982,1983,1984,1985,1986,...,2013,Unnamed: 43,Unnamed: 44,Unnamed: 45,Unnamed: 46,Unnamed: 47,Unnamed: 48,Unnamed: 49,Unnamed: 50,Total
Afghanistan,Asia,Southern Asia,Developing regions,16,39,39,47,71,340,496,...,2004,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,58639.0
Bangladesh,Asia,Southern Asia,Developing regions,83,84,86,81,98,92,486,...,3789,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,65568.0
Bhutan,Asia,Southern Asia,Developing regions,0,0,0,0,1,0,0,...,487,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,5876.0
India,Asia,Southern Asia,Developing regions,8880,8670,8147,7338,5704,4211,7150,...,33087,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,691904.0
Iran (Islamic Republic of),Asia,Southern Asia,Developing regions,1172,1429,1822,1592,1977,1648,1794,...,11291,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,175923.0
Maldives,Asia,Southern Asia,Developing regions,0,0,0,1,0,0,0,...,1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,30.0
Nepal,Asia,Southern Asia,Developing regions,1,1,6,1,2,4,13,...,1308,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,10222.0
Pakistan,Asia,Southern Asia,Developing regions,978,972,1201,900,668,514,691,...,12603,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,241600.0
Sri Lanka,Asia,Southern Asia,Developing regions,185,371,290,197,1086,845,1838,...,2394,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,148358.0

In [38]:
print('data dimensions:', df_can.shape)
print(df_can.columns)
df_can.head(2)

data dimensions: (195, 46)
Index([  'Continent',      'Region',     'DevName',          1980,
                1981,          1982,          1983,          1984,
                1985,          1986,          1987,          1988,
                1989,          1990,          1991,          1992,
                1993,          1994,          1995,          1996,
                1997,          1998,          1999,          2000,
                2001,          2002,          2003,          2004,
                2005,          2006,          2007,          2008,
                2009,          2010,          2011,          2012,
                2013, 'Unnamed: 43', 'Unnamed: 44', 'Unnamed: 45',
       'Unnamed: 46', 'Unnamed: 47', 'Unnamed: 48', 'Unnamed: 49',
       'Unnamed: 50',       'Total'],
      dtype='object')

,Continent,Region,DevName,1980,1981,1982,1983,1984,1985,1986,...,2013,Unnamed: 43,Unnamed: 44,Unnamed: 45,Unnamed: 46,Unnamed: 47,Unnamed: 48,Unnamed: 49,Unnamed: 50,Total
Afghanistan,Asia,Southern Asia,Developing regions,16,39,39,47,71,340,496,...,2004,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,58639.0
Albania,Europe,Southern Europe,Developed regions,1,0,0,0,0,0,1,...,603,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,15699.0

In [39]:
print(plt.style.available)
mpl.style.use(['ggplot'])

['Solarize_Light2', '_classic_test_patch', 'bmh', 'classic', 'dark_background', 'fast', 'fivethirtyeight', 'ggplot', 'grayscale', 'seaborn', 'seaborn-bright', 'seaborn-colorblind', 'seaborn-dark', 'seaborn-dark-palette', 'seaborn-darkgrid', 'seaborn-deep', 'seaborn-muted', 'seaborn-notebook', 'seaborn-paper', 'seaborn-pastel', 'seaborn-poster', 'seaborn-talk', 'seaborn-ticks', 'seaborn-white', 'seaborn-whitegrid', 'tableau-colorblind10']

In [40]:
haiti = df_can.loc['Haiti', years] # passing in years 1980 - 2013 to exclude the 'total' column
haiti.head()

KeyError: "None of [Index(['1980', '1981', '1982', '1983', '1984', '1985', '1986', '1987', '1988',\n       '1989', '1990', '1991', '1992', '1993', '1994', '1995', '1996', '1997',\n       '1998', '1999', '2000', '2001', '2002', '2003', '2004', '2005', '2006',\n       '2007', '2008', '2009', '2010', '2011', '2012', '2013'],\n      dtype='object')] are in the [index]"